/* Code written by Lucas Mouette */

.homepage__section {
    display: flex;

}

.homepage__section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 50%;
    padding: 60px;
    align-items: center;

    font-family: var(--primary-font);
}

.homepage__section__text h1 {
    display: flex;
    color: var(--accent_color);
    font-family: var(--hero-font);
}

.homepage__section__text p {
    font-size: var(--body_text);
    font-family: var(--primary-font);
}

.homepage__section__text ol {
    padding: 10px;
}

.homepage__section__text li {
    padding: 10px;
}

.homepage__section__divider {
    display: flex;
    margin: 20px;
}

.homepage__section__image {
    display: flex;
    width: 50%;
    min-width: 50%;
    background-color: red;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

.homepage__section__image img{
    width: 100%;
    height: auto;
    object-fit: stretch;
}
