/* Code written by Lucas Mouette */

.trip_card {
	display: flex;
	background-color: var(--accent_color);
	width: 1000px;
	height: auto;
	font-family: var(--primary-font);
	border-radius: 15px;
	align-items: center;
	margin: 20px;
	padding: 20px;
	position: relative;
}

.trip_card__textbox {
	display: flex;
	flex-direction: column;
	left: 430px;
	font-size: 17px;
}

.trip_card__title h2{
	font-family: var(--hero-font);
	color: #ffffff;
	font-size: var(--title_text);
}

.trip_card__subtitle {
	color: #ffffff;
}

.trip__info_button {
	position: absolute;
	top: 40px;
	right: 40px;
}

.trip__delete_button {
	position: absolute;
	top: 100px;
	right: 40px;
}