@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --logo-font: 'Sigmar One', regular;
  --hero-font: 'Lobster', serif;
  --primary-font: 'SF Pro Display', sans-serif;
}

* {
  --accent_color:  #1BAFBF;
  --background_color: #f8f8f8;
  --text_color: #0D0D0D;
  --link_color: #F2CB05;
  --body_text: 17px;
  --title_text: 56px;
  --subtitle_text: 24px;
  margin: 0;
}

body{
  background-color: var(--background);
}