/* Code written by Lucas Mouette */

.trip_form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/yosemite.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.trip_form__container {
    display: flex;
    font-family: var(--primary-font);
    width: 800px;
    height: 80svh;
    background: linear-gradient(45deg,white, rgba(255, 255, 255, 0.498));
    backdrop-filter: blur(10px);
    border: 1px solid white;
    box-shadow: 10px 10px 10px rgba(97, 97, 97, 0.129);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 40px;
    z-index: 10;
}

.trip_form__container h3 {
    margin-bottom: 5px; 
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__header {
    display: flex;
    font-family: var(--hero-font);
    color: var(--accent_color);
    font-size: var(--title_text);
    justify-content: center;
}

.form__trip_name {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__trip_name input[type="text"],
.form__trip_duration input[type="date"] {
    border-radius: 10px;
    padding: 10px;
}

.form__country {
    display: flex;
    flex-direction: column;
}

.form__country select {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.form__city_selector input[type="text"],
.form__city_selector input[type="date"] {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.form__city_selector button,
.form__city_display button {
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
}

.form__tour_guide select {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%
}

.form__save_button {
    display: flex;
    justify-content: center;
}

.form__save_button button {
    border-radius: 10px;
    padding: 10px 40px; 
    width: 100%;
    background-color: var(--accent_color);
    color: #ffffff;
    font-weight: bold;
}