/* Code written by Lucas Mouette */

.about_us_container {
    width: 100%; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font)
}